<div class="flex w-1/4 mx-auto">
  <%= form_for(@book) do |form| %>
    <div>
      <%= form.file_field :cover,
                           class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.text_field :title,
                           placeholder:'Title',
                           class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.text_area :description,
                          placeholder: 'Description',
                          class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.text_field :isbn,
                           placeholder: 'isbn',
                           class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.text_field :isbn13,
                           placeholder: 'isbn13',
                           class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.text_field :edition,
                           placeholder: 'edition',
                           class: 'p-3 mb-4 border rounded border-grey-400 w-full' %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
